<!DOCTYPE html>
<html>

<style>
  h1
  {
    text-align: center;
    color: white;
    background-color: cornflowerblue
  }

  form 
  {
    position:absolute; 
    left:50%; 
    top:50%; 
    transform:translate(-50%,-50%);
  }
</style>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
</head>

<title>华中农业大学考试系统</title>

<body>
  <h1>华中农业大学考试系统</h1>

  <form>
    用户名：<input type="text" name="username" maxlength="15">　<br>
    密码：&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="password" maxlength="20">
  </form>
</body>


</html>