<link rel="stylesheet" href="menubar.css"> 


<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
</head>

<body>
    <nav id="menubar">
        <a class="ele" href="/contest">Contest</a>
        
        <a class="ele" href="/problems">Problems </a>

        <a class="ele" href="/ranklist">RankList</a>

        <a class="ele" href="/status">Status</a>

        <a class="ele" href="/user">User</a>

      </nav>
  
</body>