<style>
    
</style>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
</head>

<div class="menu">
        <div class="dropdown">
            <div class="hd dropdown-tog">Contest</div>
        </div>

        <div class="dropdown">
                <div class="hd dropdown-tog">Problems</div>
            </div>

        <div class="dropdown">
                <div class="hd dropdown-tog">Status</div>
        </div>

        <div class="dropdown">
            <div class="hd dropdown-tog">Rank List</div>
        </div>

        <div class="dropdown">
            <div class="hd dropdown-tog">log out</div>
        </div>

    </div>
</div>